{% assign post = includes.post | default: page %}
{% assign authors = post.authors | split: ", " %}

<p class='post-authors'>
    {% assign n = authors.size %}
    {% assign last = authors | last %}

    {% for a in authors %}
        {% assign author = site.data.authors[a] %}
        <img class='post-author-image' src='{{author.image}}'/>

        {% if n == 1 %}
            <strong class='post-author-name'>{{ author.name }}</strong>,
        {% elsif n == 2 %}
            {% if a == last %}
                <strong class='post-author-name'>{{ author.name }}</strong>,
            {% else %}
                <strong class='post-author-name'>{{ author.name }}</strong>
                <span class='post-author-conjunction'>and</span>
            {% endif %}
        {% else %}
            {% if a == last %}
                <span class='post-author-conjunction'>and</span>
            {% endif %}
            <strong class='post-author-name'>{{ author.name }}</strong>,
        {% endif %}
    {% endfor %}
    <span class='post-date' style="white-space: nowrap">{{ post.date | date: "%B %d, %Y" }}</span>
</p>
