{% for w in site.data.workshops %}
  {% if w.slug == include.workshop %}
    {% assign workshop = w %}
  {% endif %}
{% endfor %}

<table class='remote-workshop-table'>
  <thead>
    <tr>
      <th>Time (UTC)</th>

      {% unless workshop.completed %}
        <th>Time (<span class='fill-local-tz'>Local</span>)</th>
      {% endunless %}

      <th>Event</th>
    </tr>
  </thead>

  <tbody>
    {% for r in site.data[workshop.schedule] %}
      <tr class='range-row' data-d1='{{ r.utc1 | jsonify }}' data-d2='{{ r.utc2 | jsonify }}'>

        {% if r.subrows %}
          <td class='fill-utc' rowspan="{{ r.subrows.size | plus: 1 }}"> </td>
          {% unless workshop.completed %}
            <td class='fill-local' rowspan="{{ r.subrows.size | plus: 1 }}"> </td>
          {% endunless %}
        {% else %}
          <td class='fill-utc'> </td>
          {% unless workshop.completed %}
            <td class='fill-local'> </td>
          {% endunless %}
        {% endif %}

        <td>
          {% if r.url %}
            <a href="{{ r.url }}" target="_blank">{{r.desc | strip_newlines | strip }}</a>
          {% else %}
            {{r.desc | strip_newlines | strip }}
          {% endif %}

          {% if r.more.size > 0 %}
            <details>
              <summary>Details: (click to expand)</summary>

              {% if r.more contains "replace_with_papers_in_session" %}
                {% assign session = r.more | split: "|" | last %}
                {% assign tracks = "Papers Proposals" | split: " " %}
                <p>Joining info (registration required):</p>
                <ul>
                <li>Main lobby (experiencing technical difficulties): <a href='https://tinyurl.com/CCAIICML2021-Poster-Session' target='_blank'>Join here</a></li>
                <li>Posters 1-22: <a href='https://tinyurl.com/CCAIICML2021-Poster-Session' target='_blank'>Join here</a></li>
                <li>Posters 23-44: <a href='https://tinyurl.com/CCAIICML2021-Poster-Session' target='_blank'>Join here</a></li>
                <li>Posters 45-66: <a href='https://tinyurl.com/CCAIICML2021-Poster-Session' target='_blank'>Join here</a></li>
                <li>Posters 67-89: <a href='https://tinyurl.com/CCAIICML2021-Poster-Session' target='_blank'>Join here</a></li>
                </ul>
                <p>Posters presented in this slot are listed below.</p>
                {% for track in tracks %}
                  <p>{{track}} track:</p>
                  <ul>
                    {% for p in site.data[workshop.papers] %}
                      {% if p.q1_track == track and p.poster_sessions contains session %}
                      <li><a href='/papers/{{workshop.slug}}/{{p.id}}' target='_blank'>({{p.id}}) {{p.paper_title}}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endfor %}
              {% else %}
                {{ r.more | strip_newlines | strip }}
              {% endif %}
            </details>
          {% endif %}
        </td>
      </tr>

      {% if r.subrows %}
        {% for rr in r.subrows %}
          <tr class='remote-workshop-table-subrow'>
            <td>
              {% if rr.paper_id %}
                {% assign idx = rr.paper_id | minus: 1 %}
                {% assign p = site.data[workshop.papers][idx] %}
                <a href="/papers/{{workshop.slug}}/{{ p.id }}" target="_blank">
                  ({{p.id}}) {{p.slideslive_speaker}}, "{{p.paper_title}}"
                </a>
              {% else %}
                {{rr.row_text}}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/luxon@1.23.0/build/global/luxon.min.js"></script>
<script>
$(document).ready(function() {
  const DateTime = luxon.DateTime;
  const tz = DateTime.local().zoneName;
  const tzShort = DateTime.local().toFormat("ZZZZ");

  function parseDate(s) {
    const d = JSON.parse(s);
    return DateTime.utc(d.year, d.month, d.day, d.hour, d.minute, 0, 0);
  }

  function formatRange(t1, t2, zone) {
    const h1 = t1.setZone(zone).toFormat("H:mm");
    const h2 = t2.setZone(zone).toFormat("H:mm");
    return `${h1} - ${h2}`;
  }

  for (let el of Array.from(document.getElementsByClassName('fill-local-tz'))) {
    el.innerText = tzShort;
  }

  for (let tr of Array.from(document.getElementsByClassName('range-row'))) {
    const t1 = parseDate(tr.getAttribute("data-d1"));
    const t2 = parseDate(tr.getAttribute("data-d2"));
    const utc = tr.querySelector('.fill-utc');
    const loc = tr.querySelector('.fill-local');
    if (utc) utc.innerText = formatRange(t1, t2, 'utc');
    if (loc) loc.innerText = formatRange(t1, t2, tz);
  }

  $('details').each((i, el) => {
    el.innerHTML = el.innerHTML.replace(
      /\(slides:([^\)]+)\)/g,
      "<a href='$1' target='_blank' class='tag is-info'>slides</a>"
    );
  });
});
</script>
