---
layout: default
---

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/blog">Blog Posts</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{page.title}}</a></li>

    <li class="next-prev">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}">
          <span class="icon is-small">
            <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
          </span>
          Previous
        </a>
      {% else %}
        <span class='cursor-no'>Previous</span>
      {% endif %}
      {% if page.next.url %}
          <a href="{{page.next.url}}">
          Next
          <span class="icon is-small">
            <i class="mdi mdi-arrow-right" aria-hidden="true"></i>
          </span>
        </a>
      {% else %}
        <span class='cursor-no'>Next</span>
      {% endif %}
    </li>
  </ul>
</nav>

<hr/>

{% assign post = page %}

<h1>{{page.title}}</h1>

{% if page.subtitle %}
<h3 class="post-subtitle">{{page.subtitle}}</h3>
{% endif %}

{% include post_authors.html %}

{% if page.image %}
<div class='post-header-image-wrapper'>
    <img class='post-header-image'
        src='{{page.image}}'
        title='{{page.image_alt_text}}'
        alt='{{page.image_alt_text}}'
        style='{% if post.image_max_height %}max-height: {{post.image_max_height}};{% endif %}'
    />
    {% if page.image_attribution %}
        <div class='post-header-image-attribution'>
            {{ page.image_attribution }}
        </div>
    {% endif %}
</div>
{% endif %}

{{ content }}

<div class='post-preview-meta'>
  {% assign urltype = page.article_type | url_escape %}
  <a class='tag is-dark article-type' href='/blog?type={{urltype}}'>{{page.article_type}}</a>

  {% assign tags = post.topical_tags | split: ", " %}
  {% for tag in tags %}
     <a class='tag is-light topical' href='/blog?tags={{tag}}'>{{tag}}</a>
  {% endfor %}
</div>

{% if post.article_type != "CCAI perspective" and post.article_type != "Blog admin" %}
    <div class='post-disclaimer'>
        This post represents the views of its authors, and does not necessarily represent the views of CCAI.
    </div>
{% endif %}

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script>
$(document).ready(() => {
    $('.post-author-name').click(ev => {
        const author = $(ev.currentTarget).text();
        location.href = `/blog?search=${encodeURIComponent(author)}`;
    });

    $('.post-author-image').click(ev => {
        const author = $(ev.currentTarget).attr('title');
        location.href = `/blog?search=${encodeURIComponent(author)}`;
    });
});
</script>
