---
layout: default
---

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/posts">Blog Posts</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{page.title}}</a></li>

    <li class="next-prev">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}">
          <span class="icon is-small">
            <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
          </span>
          Previous
        </a>
      {% else %}
        <span class='cursor-no'>Previous</span>
      {% endif %}
      {% if page.next.url %}
          <a href="{{page.next.url}}">
          Next
          <span class="icon is-small">
            <i class="mdi mdi-arrow-right" aria-hidden="true"></i>
          </span>
        </a>
      {% else %}
        <span class='cursor-no'>Next</span>
      {% endif %}
    </li>
  </ul>
</nav>

<hr/>

<h1>
    {% assign urltype = page.article_type | url_escape %}
    <a class='post-preview-article-type' href='/posts?type={{urltype}}'><small>{{page.article_type}}</small></a>

    {{page.title}}
</h1>

{% assign post = page %}

{% if post.author_image %}
<img class='post-author-image' src='{{post.author_image}}'/>
{% endif %}

<div class='post-preview-author'>{{ post.author }}</div>
<div class='post-preview-meta'>
  <span class='post-preview-date'>{{ post.date | date: "%B %d, %Y" }}</span>

  {% assign tags = post.topical_tags | split: ", " %}

  {% for tag in tags %}
     <a class='tag' href='/posts?tags={{tag}}'>{{tag}}</a>
  {% endfor %}
</div>

<br/>

{{ content }}

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
