---
layout: default
---

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/posts">Blog Posts</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{page.title}}</a></li>

    <li class="next-prev">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}">
          <span class="icon is-small">
            <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
          </span>
          Previous
        </a>
      {% else %}
        <span class='cursor-no'>Previous</span>
      {% endif %}
      {% if page.next.url %}
          <a href="{{page.next.url}}">
          Next
          <span class="icon is-small">
            <i class="mdi mdi-arrow-right" aria-hidden="true"></i>
          </span>
        </a>
      {% else %}
        <span class='cursor-no'>Next</span>
      {% endif %}
    </li>
  </ul>
</nav>

<hr/>

<h1>
    {{page.title}}
</h1>

<div class='post-subheader clearfix'>
    {% if page.author_image %}
        <img class='post-author-image' src='{{page.author_image}}'/>
    {% endif %}

    <span class='post-author'>
        {{page.author}}
    </span>

    {% if page.topical_tags %}
        {% assign tags = page.topical_tags | split: ", " %}
        <div class='post-tags'>
            {% assign urltype = page.article_type | url_escape %}
            <a class='tag is-info' href='/posts?type={{urltype}}'>
                {{page.article_type}}
            </a>

            {% for tag in tags %}
              <a class='tag' href='/posts?tags={{tag}}'>{{tag}}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>

<br/>

<style>
 .post-author-image {
     height: 3.5rem;
     border-radius: 100%;
     float: left;
     margin-right: 10px;
     border: 1px solid #ccc;
 }
</style>

{{ content }}

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
